# Core dependencies
numpy
pandas
matplotlib
opencv-python
scikit-learn
scipy
python-dotenv

# Deep Learning
tensorflow
keras
torch
torchvision
albumentations


# Image Processing
pillow
tqdm

# Jupyter Notebooks
jupyter
ipykernel

# Google Colab
#google-colab
#supervision
#roboflow