# Deep Learning
tensorflow==2.18.0

# Core dependencies
numpy==1.26.4
pandas
matplotlib
opencv-python
scikit-learn
scipy
python-dotenv


# Image Processing
pillow
tqdm

# Jupyter Notebooks
#jupyter
#ipykernel

# Google Colab
#google-colab
#supervision
#roboflow